*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MuseoModerno', cursive;
}
.brand{
background-color: #1a212b;
display: flex;
justify-content:space-between;
margin: 0 200px;
}
.site-title{
    display: flex;
    color: #fff;
    text-decoration: none;
}
.menu{
    display: flex;
}
.trongnuoc,
.nuocngoai,
.sukien,
.anuong,
.ktcb{
    height: 89.6px;
    padding: 32px 15px;
    border: 1px solid rgba(255,255,255,.1);
}
.timkiem{
    margin-top: 60px;
    margin-left: 550px;
    position: absolute;
}

.img{
    width: 100%;
    height: 200px;
    background-size:cover ;
    background-position: center;
    position: relative;
    z-index: 1;
}
.d-max1{
    background-color: rgba(153, 140, 140, 0.212);
    margin: 0 100px;
    
    
}
.d1{
    border-left: 3px solid red;
    text-align: center;
   
    
}

.content1{
    background-color: rgb(224, 226, 196);
    position: relative;
    width: 400px;
    height: 300px;
    
}
.img1{
    width: 350px;
    height: 170px;
    position: absolute;
    margin: 0 25px;

}
.img1 img{
    width: 100%;
    height: 100%;
}
.link1{
    position: absolute;
    bottom: 40px;
}
.content2{
    background-color: rgb(224, 226, 196);
    position: relative;
    width: 400px;
    height: 300px;
    
}
.img2{
    width: 350px;
    height: 170px;
    position: absolute;
    margin: 0 25px;

}
.img2 img{
    width: 100%;
    height: 100%;
}
.link2{
    position: absolute;
    bottom: 40px;
}
.content3{
    background-color: rgb(224, 226, 196);
    position: relative;
    width: 400px;
    height: 300px;
    
}
.img3{
    width: 350px;
    height: 170px;
    position: absolute;
    margin: 0 25px;

}
.img3 img{
    width: 100%;
    height: 100%;
}
.link3{
    position: absolute;
    bottom: 40px;
    
}
.d2{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;

  
}
.content4{
    background-color: rgb(224, 226, 196);
    position: relative;
    width: 400px;
    height: 300px;
    
}
.img4{
    width: 350px;
    height: 170px;
    position: absolute;
    margin: 0 25px;

}
.img4 img{
    width: 100%;
    height: 100%;
}
.link4{
    position: absolute;
    bottom: 40px;
    
}
.content5{
    background-color:rgb(224, 226, 196);
    position: relative;
    width: 400px;
    height: 300px;
    
}
.img5{
    width: 350px;
    height: 170px;
    position: absolute;
    margin: 0 25px;

}
.img5 img{
    width: 100%;
    height: 100%;
}
.link5{
    position: absolute;
    bottom: 40px;
    
}
.content6{
    background-color: rgb(224, 226, 196);
    position: relative;
    width: 400px;
    height: 300px;
    
}
.img6{
    width: 350px;
    height: 170px;
    position: absolute;
    margin: 0 25px;

}
.img6 img{
    width: 100%;
    height: 100%;
}
.link6{
    position: absolute;
    bottom: 40px;
    
}
.d3{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.d-max2{
    background-color: rgba(153, 140, 140, 0.212);
    margin: 0 100px;
    margin-top: 50px;
}
.d-max3{
    background-color: rgba(153, 140, 140, 0.212);
    margin: 0 100px;
    margin-left: 5px;
    margin-top: 50px;
   
}
.s-content1{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
   
}
.small-img1{
    width: 300px;
    
}
.small-img1 img{
    width: 100%;
   
}
.side-menu{
    background-color: rgba(153, 140, 140, 0.212);
    margin: 0 100px;
    margin-top: 50px;
    width: 100%;
}
.list-side-menu{
    height: 40px;
    border-bottom: 1px solid rgba(17, 9, 9, 0.068);
    
    
}
.d-maxx{
    display: flex;
    flex-direction: row-reverse;
}
.footer{
    background-color:rgba(17, 9, 9, 0.068); ;
    height: 150px;
    margin-top: 100px;
}
.linkfooter{
    
    padding-left: 10px;
}
#list-timkiem{
    list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
 
}
#list-timkiem li a{
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  
  

  
}
#list-timkiem li{
    list-style: none;
    
}
.trongnuoc{
    position: relative;
  display: inline-block;
  

}
.dropdown{
margin-top: 33px;
left: -2px;
display: none;
position: absolute;
background-color: #f9f9f9;
width: 200px;
height: 89.6px;
border: 1px solid rgba(255,255,255,.1);
z-index: 2;
}
.trongnuoc:hover .dropdown{
    display: block;
}
.dropdown a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color:#f9f9f9 ;
}
.nuocngoai{
     position: relative;
  display: inline-block;
}
.nuocngoai:hover .dropdown{
    display: block;
}